<a href="https://colab.research.google.com/github/Mounika2004/python/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fruits = ["apple","banana","kiwi","pomogranate","orange"]
for x in fruits:
    print(x)

apple
banana
kiwi
pomogranate
orange

In [ ]:
## loop lists

In [ ]:
fruits = ["apple","banana","kiwi","pomogranate","orange"]
for x in fruits:
   print(x)

apple
banana
kiwi
pomogranate
orange

In [ ]:
## loop through index numbers

In [ ]:
watches = ["fossil","titan","fastrack","sonata","quartz"]
for i in range (len(watches)):
   print(watches[0])

fossil
fossil
fossil
fossil
fossil

In [ ]:
## lists of while loop

In [ ]:
watches = ["fossil","titan","fastrack","sonata","quartz"]
i=0
while i < len(watches):
    print(watches[i])
    i = i + 1

fossil
titan
fastrack
sonata
quartz

In [ ]:
## loops using list comprehension

In [ ]:
watches = ["fossil","titan","fastrack","sonata","quartz"]
[print(x) for x in watches]

fossil
titan
fastrack
sonata
quartz

[None, None, None, None, None]

In [ ]:
## Loop Sets

In [ ]:
watches = ["fossil","titan","fastrack","sonata","quartz"]

for x in watches:
     print(x)

fossil
titan
fastrack
sonata
quartz

In [ ]:
## Loop Tuples

In [ ]:
watches = ["fossil","titan","fastrack","sonata","quartz"]
for x  in  watches:
    print(x)

fossil
titan
fastrack
sonata
quartz

In [ ]:
## tuple through index numbers

In [ ]:
watches = ["fossil","titan","fastrack","sonata","quartz"]
for i in range (len(watches)):
   print(watches[2])

fastrack
fastrack
fastrack
fastrack
fastrack

In [ ]:
## tuple while loop

In [ ]:
watches = ["fossil","titan","fastrack","sonata","quartz"]
i = 0
while i < len(watches):
   print(watches[i])
   i = i + 1

fossil
titan
fastrack
sonata
quartz

In [ ]:
## lists comprehensions

In [ ]:
n = ["apple","banana","kiwi","pomogranate","orange"]
newlist = []
for x in n:
  if "a" in x:
    newlist.append(x)
print(newlist)

['apple', 'banana', 'pomogranate', 'orange']

In [ ]:
### With list comprehension you can do all that with only one line of code:

In [ ]:
fruits = ["apple","banana","kiwi","pomogranate","orange"]
newlist = [x  for  x  in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'pomogranate', 'orange']