<a href="https://colab.research.google.com/github/Mounika2004/python/blob/main/python_excercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## average of three numbers

In [ ]:
a=10
b=20
c=30
avg=(a+b+c)/3
print(avg)
print(type(avg))

20.0
<class 'float'>

## multipilcation of  three numbers using static

int a=10
    b=20
    c=30
    multiply=(a*b*c)
    print(multiply)
    print(type(multiply))
    print(a)
    print(type(a))

 a=2
    b=4
    c=5
    multiply=(a*b*c)
    print(multiply)
    print(type(multiply))
    print(a)
    p

## multipilcation of three numbers

In [ ]:
a=2
b=4
c=5
multiply=(a*b*c)
print(multiply)
print(type(multiply))
print(a)

40
<class 'int'>
2

## dynamic addition of two numbers

In [ ]:
a=int(input("enter the number:"))
b=int(input("enter the number:"))
add=(a+b)
print(add)
print(type)

enter the number:84
enter the number:84
168
<class 'type'>

## dynamic multipilcation of two numbers

In [ ]:
a=int(input("enter the number:"))
b=int(input("enter the number:"))
multiply=(a*b)
print(multiply)
print(type)

enter the number:86
enter the number:86
7396
<class 'type'>

In [ ]:
type conversions (int to float)

SyntaxError: invalid syntax (Temp/ipykernel_1236/2412598307.py, line 1)

type conversions (convert int to float)

In [ ]:
a=10
print(a)
print(type(a))
b=float(a)
print(b)
print(type(b))

10
<class 'int'>
10.0
<class 'float'>

## float to int

a=10,10
print(a)
print(type(a))
b=int(a)
print(b)
print(type(b))

## convert into string

In [ ]:
a=10
print(a)
print(type(a))
b=str(a)
print(b)
print(type(b))

10
<class 'int'>
10
<class 'str'>

##  convert float to string

In [ ]:
a=10,10
print(a)
print(type(a))
b=str(a)
print(b)
print(type(b))

(10, 10)
<class 'tuple'>
(10, 10)
<class 'str'>

## convert string to i nt

In [ ]:
a='10'
print(a)
print(type(a))
b=int(a)
print(b)
print(b)
print(type(b))

10
<class 'str'>
10
10
<class 'int'>

## convert into boolean

In [ ]:
a=10
print(a)
print(type(a))
b=bool(a)
print(b)
print(type(b))

10
<class 'int'>
True
<class 'bool'>

## check boolean condition

In [ ]:
print(20==20)

True

## check boolean condition

In [ ]:
print(90<80)

False

## convert float to boolean

In [ ]:
a=10,10
print(a)
print(type(a))
b=bool(a)
print(b)
print(type(b))

(10, 10)
<class 'tuple'>
True
<class 'bool'>

## convert string to boolean

In [ ]:
a='10'
print(a)
print(type(a))
b=bool(a)
print(b)
print(type(b))

10
<class 'str'>
True
<class 'bool'>

## convert int to boolean

In [ ]:
a=True
print(a)
print(type(a))
b=int(a)
print(b)
print(type(b))

True
<class 'bool'>
1
<class 'int'>

## convert float to boolean

In [ ]:
a=False
print(a)
print(type(a))
b=float(a)
print(b)
print(type(b))

False
<class 'bool'>
0.0
<class 'float'>

## convert boolean to float

In [ ]:
a=False
print(a)
print(type(a))
b=float(a)
print(b)
print(type(b))

False
<class 'bool'>
0.0
<class 'float'>

## convert boolean to string

In [ ]:
a=True
print(a)
print(type(a))
b=str(a)
print(b)
print(type(b))

True
<class 'bool'>
True
<class 'str'>

## int to boolean(with condition)

In [ ]:
a=5
b=10
c=(a>b)
print(c)
print(type(c))

False
<class 'bool'>