<a href="https://colab.research.google.com/github/Mounika2004/python/blob/main/sets_add.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## create a set

In [ ]:
a={"rat","cat","lion","tiger"}
print(a)

{'tiger', 'lion', 'rat', 'cat'}

In [ ]:
## create a duplicate set

In [ ]:
a={"rat","cat","cat","lion","tiger"}
print(a)

{'tiger', 'lion', 'rat', 'cat'}

In [ ]:
## lenght of a set

In [ ]:
a={"rat","cat","cat","lion","tiger"}
print(len(a))

4

In [ ]:
## boolean values

In [ ]:
a = {"abc", 34, True, 40, "male"}
print(a)

{True, 34, 40, 'male', 'abc'}

In [ ]:
## data type of a set

In [ ]:
fruits = {"apple", "banana", "cherry"}
print(type(fruits))

<class 'set'>

In [ ]:
## set constructor

In [ ]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'banana', 'apple'}

In [ ]:
## access sets

In [ ]:
thisset={"rat","cat","lion","tiger"}
for x in thisset:
  print(x)

tiger
lion
rat
cat

In [ ]:
## check if banana is there ae not

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [ ]:
## add set items

In [ ]:
c

{'rat', 'bear', 'lion', 'tiger', 'cat'}

In [ ]:
## current set into update method

In [ ]:
a= {"apple", "banana", "cherry"}
b = {"pineapple", "mango", "papaya"}

a.update(b)

print(a)

{'cherry', 'banana', 'papaya', 'pineapple', 'mango', 'apple'}

In [ ]:
## add list into the elements

In [38]:
a = {"apple", "banana", "cherry"}
b = {"pineapple", "kiwi", "papaya"}

a.update(b)

print(a)

{'cherry', 'banana', 'papaya', 'kiwi', 'pineapple', 'apple'}

In [39]:
## remove sets

In [41]:
a = {"apple", "banana", "cherry"}

a.remove("banana")

print(a)

{'cherry', 'apple'}

In [42]:
## discard

In [44]:
a = {"apple", "banana", "cherry"}

a.discard("banana")

print(a)

{'cherry', 'apple'}

In [45]:
## pop

In [47]:
set = {"apple", "banana", "cherry"}

x = set.pop()

print(x)

print(set)

cherry
{'banana', 'apple'}

In [48]:
## clear

In [51]:
set = {"apple", "banana", "cherry"}

set.clear()

print(set)

set()

In [52]:
## delete set

In [54]:
set = {"apple", "banana", "cherry"}

del set

print(set)

<class 'set'>

In [55]:
## loop set

In [61]:
a = {"apple", "banana", "cherry"}
for x in  a:
  print(x)

cherry
banana
apple

In [62]:
## union

In [64]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3=set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'a', 'c'}

In [65]:
## inserts set2 into set1

In [67]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set3)

{1, 2, 3, 'b', 'a', 'c'}

In [68]:
## set methods

In [69]:
## add element to fruits

In [71]:
fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

{'cherry', 'banana', 'orange', 'apple'}

In [72]:
## clear

In [74]:
fruits = {"apple", "banana", "cherry"}

fruits.clear()

print(fruits)

set()

In [75]:
### copy()

In [77]:
fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)

{'cherry', 'banana', 'apple'}

In [78]:
## set difference method

In [80]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'cherry', 'banana'}

In [81]:
##  remove the items exists in both the sets

In [83]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'cherry', 'banana'}

In [84]:
## intersection method

In [86]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [87]:
## set intersection and update()

In [89]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [90]:
## disjoint sets

In [92]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

In [93]:
## subsets

In [96]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

In [97]:
## superset

In [99]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

In [100]:
## symmetric difference method

In [102]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

In [103]:
## symmetric difference and update method

In [104]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True